.lteie8 .nav_products a, .lteie8 .nav_footer a { background: #e7e7e7; }
.lteie8 .nav_products .active, .lteie8 .nav_footer .active { background: url(../img/icons/menu-bg.png) 0 0 repeat-x; }
.lteie8 .product__descr { background: #fefefe; }
.lteie8 .top-bar { background: #e5e5e5; }
.lteie8 .nav a:before { background: #43264e; }
.lteie8 .header__wrap { overflow: hidden; }
.lteie8 .popup { background: #d4d4d4; }
.lteie8 .btn_gray { background: #dfdfdf; }

* + html .product, * + html .soc a { display: inline; }
* + html .field label, * + html .field input, * + html .field span, * + html .field .rate-stars { display: inline; }
* + html .btn { line-height: 16px; }

* html .header__wrap { height: 92px; }
* html .product, * html .soc a { display: inline; }
* html .nav_footer li { width: 16%; }
* html .banner { height: 322px; }
* html .logo a { text-decoration: none; }
* html .overlay { position: absolute; }
* html .action__img { height: 234px; }
* html .field label, * html .field input, * html .field span, * html .field .rate-stars { display: inline; }
* html .prod-item { height: 100%; }
