@import "base";
/* ------------------------------------- Reset css -------------------------------------------- */
/* ------------------------------------- Reset css -------------------------------------------- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5,
h6, p, blockquote, pre,a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt,
dd, ol, ul, li,fieldset, form, label, legend,table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary,time, mark, audio, video { 
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body, html {
    height: 100%
}
img,fieldset {border:none;}
input[type="submit"], button {cursor:pointer;}
input[type='submit']::-moz-focus-inner{padding:0;border:0}
textarea {overflow: auto;}
input, button {
    margin: 0;
    padding: 0;
    border: 0;
}
input, textarea, select,
h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}
ul,ol {
    list-style-type: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
    display: block;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
*{-webkit-text-size-adjust: none; }
/* ------------------------------------- //END Reset css --------------------------------------- */
/* ----------------------------------------- Main styles --------------------------------------- */
body{
    padding: 0 5px;
    min-width: 1000px;
    color: #524f4f;
    font: normal 14px/1.2 'Calibri', Arial, sans-serif;
    background: #d4d4d4;
}
a{
    color:#00919e;
    &:hover{
        text-decoration:none
    }
}
.l-layout {
    position: relative;
    margin: 0 auto -107px;
    width: 1000px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    background: #f9f1de;
    @include box-shadow(0 0 30px rgba(0,0,0,.4));
}
.push {
    clear: both;
    height: 107px;
}
.wrapper {
    overflow: hidden;
}
.wrap {
    @extend %clr;
}

/* ------------------------------------ //END Main styles --------------------------------------- */
 
/* ----------------------------------------- Header --------------------------------------------- */
.header {
    background: #fff;
}
.top-bar {
    padding-right: 51px;
    height: 29px;
    line-height: 29px;
    text-align: right;
    border-bottom: 1px solid #d2d2d2;
    @include background-image(linear-gradient(#fff, #e5e5e5));
    button {
        padding-left: 28px;
        height: 21px;
        border: 0;
        color: #a76dae;
        font-size: 16px;
        @include calibri;
        background: url(../img/icons/mob.png) 0 50% no-repeat;
    }
}
.header__wrap {
    padding: 5px 48px;
    @extend %clr;
}
.logo {
    float: left;
    margin-right: 130px;
    @extend %hide-text;
    a {
        display: block;
        @include sized-sprite($icons, logo); 
    }
}
.work {
    float: left;
    color: #a76dae;
    font-size: 16px;
    span {
        display: block;
        margin-bottom: 5px;
        padding-left: 39px;
    }
}
.work__title { 
    display: block;
}
.work__time { 
    color: #404040;
    font-size: 24px;
    background: url(../img/icons/time.png) 5px 50% no-repeat;
}
.work__deliv {
    background: url(../img/icons/car.png) 0 100% no-repeat;
}

.contacts {
    float: right;
    margin-top: 16px;
    padding-left: 54px;
    color: #a76dae;
    font-weight: bold;
    font-size: 21px;
    border-left: 1px dotted #777;
    div {
        margin-bottom: -6px;
    }
    span, strong {
        vertical-align: top;
    }
    strong {
        color: #373737;
        font-size: 37px;
    }
}

.nav {
    ul {
        @extend %clr;
        border-top: 1px solid #f5f5f5;
        border-bottom: 1px solid #d2d2d2;
    }
    li {
        float: left;
        width: 25%;
        text-align: center;
        &:first-child {
            a {
                &:before,
                &:after {
                    display: none;
                }
            }
        }
    }
    a {
        position: relative;
        display: block;
        height: 38px;
        line-height: 38px; 
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        background: url(../img/icons/menu-bg.png) 0 0 repeat-x;
        @include box-shadow(inset 0 1px 0 rgba(255,255,255,.5));
        &:before,
        &:after {
            content: "";
            position: absolute;
            left: 0;
            width: 1px;
        }
        &:before {
            top: 0;
            height: 38px;
            @include background-image(linear-gradient(#834b81, #43264e));
        }
        &:after {
            bottom: 0;
            height: 15px;
            @include box-shadow(0 0 10px rgba(0,0,0,.6));
        }
    }
    .active {
        color: #7f4989;
        background: url(../img/icons/menu-act-bg.png) 0 0 repeat-x;
    }
}

/* -------------------------------------- //END Header ------------------------------------------ */
  
/* ------------------------------------- Independent blocks -------------------------------------- */

// icons 
.icon {display: inline-block;} 
.icon_time {@include sized-sprite($icons, time);}
.icon_car {@include sized-sprite($icons, car);}
.icon_mob {@include sized-sprite($icons, mob);}

/* ---------------------------------- //END Independent blocks ----------------------------------- */

/* ----------------------------------------- Footer ---------------------------------------------- */
.footer {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 107px;
    overflow: hidden;
    background: #8b5995 url(../img/icons/footer-bg.png) 0 100% repeat-x;
    @include box-shadow(0 10px 30px 6px rgba(0,0,0,.2));
}
.nav_footer {
    ul {
        border-top-color: #d4d4d4;
    }
    li {
        width: 17%;
        &:first-child {
            width: 15%;
            a {
                border: 0;
            }
        }
    }     
    a {
        height: 32px;
        line-height: 32px;
        color: #3c3c3c;
        font-size: 14px;
        border-left: 1px solid #d4d4d4;
        @include background-image(linear-gradient(#fff, #e7e7e7));
        &:before,
        &:after {
            display: none;
        }
    }
}
.copy {
    float: right;
    padding: 19px 43px 0 0;
    color: #fff;
    text-align: right; 
    p {
        margin-bottom: 9px;
    }
}
.contacts_footer {
    display: none;
}
/* -------------------------------------- //END Footer ------------------------------------------- */